$phone: 0px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;
$large: 1920px;

@mixin xs {
  @media only screen and ( 
    min-width: $phone
  ) and (
        max-width: #{$tablet - 1}
     ) {
    @content;
  }
}
@mixin sm {
  @media only screen and ( 
    min-width: $tablet
  ) and (
        max-width: #{$laptop - 1}
     ) {
    @content;
  }
}
@mixin md {
  @media only screen and ( 
    min-width: $laptop
  ) and (
        max-width: #{$desktop - 1}
     ) {
    @content;
  }
}
@mixin lg {
  @media only screen and ( 
    min-width: $desktop
  ) and (
        max-width: #{$large - 1}
     ) {
    @content;
  }
}
@mixin xl {
  @media only screen and (min-width: $large) {
    @content;
  }
}

@include xs() {
  * {
    background-color: red;
  }
}
@include sm() {
  * {
    background-color: rgb(200, 255, 0);
  }
}
@include md() {
  * {
    background-color: rgb(0, 255, 98);
  }
}
@include lg() {
  * {
    background-color: rgb(0, 38, 255);
  }
}
@include xl() {
  * {
    background-color: rgb(255, 0, 255);
  }
}
